<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetBot"
        tools:targetApi="31">
        <activity
            android:name=".AddressSet"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Checkout"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Shop"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Signup"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PreferenceActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SearchProducts"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LampsActivity"
            android:exported="false"
            android:parentActivityName=".SearchRecommendation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.budgetbot.SearchRecommendation"/>

        </activity>
        <activity
            android:name=".TableActivity"
            android:exported="false"
            android:parentActivityName=".SearchRecommendation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.budgetbot.SearchRecommendation"/>

        </activity>
        <activity
            android:name=".ChairActivity"
            android:exported="false"
            android:parentActivityName=".SearchRecommendation">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.budgetbot.SearchRecommendation"/>

        </activity>

        <activity
            android:name=".SearchRecommendation"
            android:exported="false"
            android:parentActivityName=".Recommendation" />
        <activity
            android:name=".Recommendation"
            android:exported="false"
            android:parentActivityName=".Shop" />
        <activity
            android:name=".Cart"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>